[!DLCrumbs?

&tpl=`@CODE:<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><meta itemprop="position" content="[+iteration+]" />
    <a href="[+url+]" title="[+e.title+]" itemprop="item">
        <span itemprop="name">[+title+]</span>
    </a>
</li>`
&tplFirst=`@CODE:<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="home-link">
    <meta itemprop="position" content="[+iteration+]" />
    <a href="[+url+]" title="[+longtitle+]" itemprop="item" class="icon icon-home"><i class="fa fa-home"></i></a>
</li>`
&tplFirst=`@CODE:<li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <meta itemprop="position" content="[+iteration+]" />
    <span itemprop="item">[+title+]</span>
</li>`
&ownerTPL=`@CODE:<nav class="breadcrumbs">
    <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        [+crumbs.wrap+]
    </ul>
</nav>`

!]
